@model IEnumerable<WebApplication1.Models.MediaModels.video>
@{
    ViewBag.Title = ViewBag.CategoryName - "Video Starter Kit";
}

<div class="row">
    <div class="container">
<div class="col-lg-8 col-md-8">
    <ol id="MC_MC_bread" class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index")</li>
        <li>@Html.ActionLink("Videos", "Video")</li>
        <li>@Html.ActionLink("Categories", "VideosWithCategories")</li>
        <li class="active">ViewBag.CategoryName </li>
    </ol>

    <div class="panel">
        <div id="MC_MC_lst1_hd" class="panel-default">
            <div class="row">
                <div class="col-md-7 col-lg-8">
                    <h1 id="MC_MC_lst1_lbl_status" class="lsttitle">@ViewBag.CategoryName  Videos</h1>
                </div>
                <div class="col-md-5 col-lg-4">

                </div>
            </div>
            <hr class="colorgraph">
        </div>
        <div class="nmtabs">
            <div id="MC_MC_lst1_lstat" class="pd_5 item_r">
                <span id="MC_MC_lst1_list_stat1_vd_stat" class="normal-text light">Showing <strong>1</strong> to <strong>2</strong> of <strong>2</strong> records</span>

            </div>


            <div id="MC_MC_lst1_lnav">
                <ul class="nav nav-tabs">
                    <li class="active">
                        @Ajax.ActionLink("Recently Added", "RecentlyAddedVideosInCategory", new { id = ViewBag.CategoryId }, new AjaxOptions { UpdateTargetId = "TrendingVideos", InsertionMode = InsertionMode.Replace, LoadingElementId = "loader" }))
                    </li>
                    <li>
                        @Ajax.ActionLink("Most Viewed", "MostViewedVideosInCategory", new { id = ViewBag.CategoryId }, new AjaxOptions { UpdateTargetId = "TrendingVideos", InsertionMode = InsertionMode.Replace, LoadingElementId = "loader" })
                    </li>
                    <li>
                        @Ajax.ActionLink("Top Rated", "TopRatedInCategory", new { id = ViewBag.CategoryId }, new AjaxOptions { UpdateTargetId = "TrendingVideos", InsertionMode = InsertionMode.Replace, LoadingElementId = "loader" })
                    </li>
                    <li>
                        @Html.ActionLink("Most Commented", "MostCommentedInCategory", new { id = ViewBag.CategoryId }, new AjaxOptions { UpdateTargetId = "TrendingVideos", InsertionMode = InsertionMode.Replace, LoadingElementId = "loader" })
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div id="MC_MC_lst1_lst" style="padding-left: 10px;" class="clearfix">
                <div id="TrendingVideos">
                @foreach (var video in Model)
                {
                    <div class="row marginfixed">
                        <div class="item item-video">
                            <div class="thumb">
                                <a class="clip-link" href="/video/@video.videoid" title="@video.tags">
                                    <span class="clip">
                                        <img id="p1abv9pfc7utq1g0917pr1b3b13ak4" src="/@video.videofilename" onmouseout="endm('p1abv9pfc7utq1g0917pr1b3b13ak4'); this.src='/contents/member/aaaaaa/Thumbs/p1abv9pfc7utq1g0917pr1b3b13ak4_013.jpg'; " onmouseover="startm('p1abv9pfc7utq1g0917pr1b3b13ak4','/contents/member/aaaaaa/Thumbs/p1abv9pfc7utq1g0917pr1b3b13ak4_','.jpg'); ">
                                    </span>
                                    <span class="overlay"></span>
                                </a>
                            </div>
                            <div class="meta-data">
                                <h2>
                                    <a href="/video/@video.videoid" title="@video.tags">@video.tags</a>
                                </h2>
                                <p class="tag">9 months ago</p>
                                <p class="tag">Tags:  <a href="/videos/tag/lmao.aspx" title="lmao">lmao</a>, <a href="/videos/tag/not-funny.aspx" title="not funny">not funny</a></p>
                                <p class="views">@video.views views</p>
                                <a class="category" href="/user/@video.username" title="@video.username">@video.username</a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                }
                </div>
                <script type="text/javascript">stat['p1abv9pfc7utq1g0917pr1b3b13ak4'] = 0; pic['p1abv9pfc7utq1g0917pr1b3b13ak4'] = new Array(); pics['p1abv9pfc7utq1g0917pr1b3b13ak4'] = new Array(0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1); stat['p1abv92ob71o1urcj1e751jplhl1c'] = 0; pic['p1abv92ob71o1urcj1e751jplhl1c'] = new Array(); pics['p1abv92ob71o1urcj1e751jplhl1c'] = new Array(0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1);</script>
            </div>


        </div>
    </div>
</div>
<div class="col-md-4 col-lg-4 pull-right  lnav">

    <div class="tab-video-container">
        <fieldset class="top-border search-wrapper">
            <div class="panel-body">
                @using (Html.BeginForm("SearchVideo", "Home", FormMethod.Post))
                {
                    <div class="input-group input-group-sm">
                        <input name="searchTerm" type="text" id="MC_navigation1_txt_search" class="form-control" placeholder="Search Videos">
                        <span class="input-group-btn">
                            <input type="submit" name="search" value="Search" id="MC_navigation1_btn_u_search" class="btn btn-default">
                        </span>
                    </div>
                }

                <div class="help-block item_r">
                    @Html.ActionLink("Advance Search", "AdvSearch")
                </div>
            </div>
        </fieldset>
    </div>

    <div id="MC_navigation1_categories1_main">
        <div class="tab-video-container">
            <fieldset class="top-border">
                <legend style="text-align: center;" class="top-border" align="center">Videos Categories</legend>
                <div id="MC_navigation1_categories1_hd" class="panel-heading" style="display: none;">
                    <h3 id="MC_navigation1_categories1_htitle" class="panel-title">Videos Categories</h3>
                </div>
                <div class="panel-body item">
                    <div id="MC_navigation1_categories1_lst" class=" clearfix">
                        <div>
                        </div>
                        <!-- Close floating div -->
                        @{Html.RenderAction("DistinctVideoCategories", "Home");}
                        <div class="item_pad_2_r">@Html.ActionLink("See all", "VideosWithCategories", new { title = "Browse more video categories" })</div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div id="MC_navigation1_tags1_widget" class="panel flow_lst">
        <div class="panel panel-default">
            <div id="MC_navigation1_tags1_hd" class="panel-heading">
                <h3 id="MC_navigation1_tags1_htitle" class="panel-title">Videos Tags</h3>
            </div>
            <div class="panel-body">
                <div id="MC_navigation1_tags1_lst" class=" clearfix">
                    <div class="bx_br_bt item_pad_4">
                        <div class="flow_lst">
                            @{ Html.RenderAction("AsideVideoTags", "Home");}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="MC_navigation1_archives1_widget" class="ver_lst">
        <div class="tab-video-container">
            <fieldset class="top-border">
                <legend style="text-align: center;" class="top-border" align="center">Archives</legend>
                <div id="MC_navigation1_archives1_hd" class="panel-heading" style="display: none;">
                    <h3 id="MC_navigation1_archives1_htitle" class="panel-title">Archives</h3>
                </div>
                <div class="panel-body">
                    <div id="MC_navigation1_archives1_lst">
                        <div class="item">
                            <div class="ver_lst%;">
                                <ul>
                                    <li>
                                        <a href="/videos/archive/2016/2/default.aspx" title=" added in February 2016">February 2016</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="ver_lst%;">
                                <ul></ul>
                            </div><div class="clearfix"></div>
                        </div>
                        <div class="item_pad_4_r">
                            <a href="/videos/archive.aspx" title="">See All</a>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div id="MC_navigation1_vd_sm2_widget" class="tab-video-wrapper">

        <div class="tab-video-container">
            <fieldset class="top-border">
                <legend id="MC_navigation1_vd_sm2_cmt" align="center" class="top-border" style="text-align:center;">Recently Added Videos</legend>


                <div id="my-tab-content" class="tab-content">


                    <div class="row">
                        <div class="col-md-12">
                            <div id="MC_navigation1_vd_sm2_lst" class="section-content grid-small clearfix">
                                @{Html.RenderAction("RecentlyAddedAside", "Home");}
                            </div>
                        </div>
                    </div>




                </div>
            </fieldset>
        </div>
    </div>

</div>
</div>
</div>